.wrapper {
  width: 100%;
  // margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  h2 {
    // align-self: flex-start;
    color: #1e58ff;
  }
}


.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.radioWrapper{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}