.wrapper{
    list-style: none;
}

.navItem{
    display: inline-block;
    margin-right: 50px;
}

.navLink{
    text-decoration: none;
    color: lightslategray;
    font-size: 1.2rem;
}

.activeNavLink{
    font-weight: 700;
} 